.q-cart-summary {
  &__image {
    background: var(--color-background-secondary);
    max-height: 128px;
    max-width: 128px;
    padding: 12px;
  }

  &__price {
    &--discount {
      color: var(--color-primary);
      font-weight: bold;
    }
  }

  &__price-original {
    color: var(--color-secondary);
    font-size: 12px;
    font-weight: normal;
    margin: 0 8px 4px 0;
    text-decoration: line-through;
  }
}
