.q-welcome {
  align-items: flex-start;
  background-image: linear-gradient(180deg, rgba(#000, .9) 0%, rgba(#000, .8) 10%, transparent 35%), linear-gradient(0deg, rgba(#000, .95) 0%, rgba(#000, .8) 25%, transparent 80%), url('../images/welcome2.jpg');
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: -72px;
  min-height: 900px;
  padding-bottom: 32px;
  padding-top: calc(64px + var(--layout-header-height));
  width: 100%;

  &__container {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }

  &__headline {
    text-align: center;
    width: 100%;
  }

  &__plan {
    background: url('../images/welcome-headline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 128px;
  }

  &__sub {
    font-size: 40px;
    font-weight: 200;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
    width: 100%;
  }

  &__about {
    max-width: 512px;
  }

  &__planner {
    align-items: center;
    display: flex;
  }

  &__contact {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
