RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule ^(.babelrc) - [F,L,NC]
RewriteRule ^(.browserslistrc) - [F,L,NC]
RewriteRule ^(.env.development) - [F,L,NC]
RewriteRule ^(.env.example) - [F,L,NC]
RewriteRule ^(.gitignore) - [F,L,NC]
RewriteRule ^(docker-compose.yml) - [F,L,NC]
RewriteRule ^(package.json) - [F,L,NC]
RewriteRule ^(package-lock.json) - [F,L,NC]
RewriteRule ^(postcss.config.js) - [F,L,NC]
RewriteRule ^(tailwind.config.js) - [F,L,NC]
RewriteRule ^(webpack.config.js) - [F,L,NC]

