:root {
  --color-primary: #d53746;
  --color-primary-rgb: 213, 55, 70;
  --color-primary-mid: #941f2a;
  --color-primary-dark: #69161e;

  --color-secondary: #3a4355;
  --color-secondary-rgb: 58, 67, 85;

  --color-success: #3bce95;
  --color-success-rgb: 59, 206, 149;
  --color-success-dark: #2eb881;

  --color-text-body: #242e42;
  --color-text-body-light: #a7bacc;
  --color-text-body-inverse: #fff;

  --color-background-white: #fff;
  --color-background-primary: #f4f4f4;
  --color-background-secondary: #e8eaed;
  --color-background: #f1f4f8;
  --color-background-blue: #f1f4f8;
  --color-background-sand: #efe7e3;
  --color-background-gray: #e2e4e8;

  --color-form-element: #a7bacc;
  --color-form-element-hover: #62788c;
  --color-form-element-disabled-background: #e8eaed;
  --color-form-text: var(--color-text-body);
  --color-form-text-placeholder: #cbd7e2;
  --color-form-border: var(--color-primary);
  --color-form-border-active: var(--color-primary-mid);
}
