:root {
  --shadow-level-1: 0 0 8px rgba(var(--color-secondary-rgb), .25);
  --shadow-level-2: 0 0 20px rgba(var(--color-secondary-rgb), .2);
  --shadow-level-3: 0 0 32px rgba(var(--color-secondary-rgb), .2);
}
