.c-designs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -12px;
  padding: 24px;

  &__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 12px;
    position: relative;
  }

  &__input {
    display: none;

    &:checked ~ .c-patterns__checked {
      display: block;
    }
  }

  &__image {
    width: 128px;
  }

  &__checked {
    background: rgba(#000, .5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
