.c-input {
  display: flex;
  flex-direction: column;
  min-height: 106px;
  padding: 30px 16px 24px;
  width: 100%;

  &__field {
    border-bottom: 2px solid var(--color-form-element);
    height: 48px;
    position: relative;
    transition: border .2s;

    .c-input--textarea & {
      height: auto;
      min-height: 48px;
    }

    .c-input--disabled & {
      background: var(--color-form-element-disabled-background);
      cursor: not-allowed;
    }

    .c-input--hover & {
      border-color: var(--color-form-element-hover);
    }

    .c-input--focus & {
      border-color: var(--color-primary);
    }

    .c-input--error & {
      border-color: var(--color-primary);
    }
  }

  &__input {
    background: transparent;
    border: 0;
    height: 46px;
    padding: 0 8px;
    vertical-align: top;
    width: 100%;

    .c-input--textarea & {
      max-height: 188px;
      min-height: 46px;
      padding-top: 15px;
      resize: none;
    }

    .c-input--type-password & {
      padding: 0 54px 0 8px;
    }

    .c-input--focus & {
      outline: 0;

      &::-webkit-input-placeholder {
        opacity: 1;
      }

      &::-moz-placeholder {
        opacity: 1;
      }

      &:-moz-placeholder {
        opacity: 1;
      }

      &:-ms-input-placeholder {
        opacity: 1;
      }
    }

    .c-input--has-content & {
      color: var(--color-text-body);
      font-weight: bold;
    }

    .c-input--light & {
      color: var(--color-text-body-inverse);
    }

    .c-input--disabled.c-input--has-content & {
      color: var(--color-form-element-hover);
      cursor: not-allowed;
    }

    .c-input--error.c-input--has-content & {
      color: var(--color-primary-mid);
    }

    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }

    &::-webkit-input-placeholder {
      color: var(--color-form-element);
      opacity: 0;
      transition: opacity .2s;
      user-select: none;
    }

    &::-moz-placeholder {
      color: var(--color-form-element);
      opacity: 0;
      transition: opacity .2s;
      user-select: none;
    }

    &:-moz-placeholder {
      color: var(--color-form-element);
      opacity: 0;
      transition: opacity .2s;
      user-select: none;
    }

    &:-ms-input-placeholder {
      color: var(--color-form-element);
      opacity: 0;
      transition: opacity .2s;
      user-select: none;
    }
  }

  &__label {
    color: var(--color-form-element);
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(8px, calc(-100% + 32px));
    transition: color .2s, transform .2s;

    .c-input--hover & {
      color: var(--color-form-element-hover);
    }

    .c-input--focus &,
    .c-input--has-content .c-input__input + & {
      color: var(--color-text-primary);
      pointer-events: all;
      transform: translate(0, calc(-100% - 4px));
    }

    .c-input--disabled.c-input--has-content .c-input__input + & {
      color: var(--color-form-element-hover);
    }

    .c-input--error &,
    .c-input--error.c-input--has-content .c-input__input + & {
      color: var(--color-primary);
    }
  }

  &__password {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__helper,
  &__error {
    color: var(--color-form-element-hover);
    font-size: 12px;
    margin-top: 8px;
    padding-left: 8px;
  }

  &__error {
    color: var(--color-primary);
    padding-left: 32px;
    position: relative;

    &:before {
      background: url('../images/icons/error.svg');
      background-position: center;
      background-size: cover;
      content: '';
      display: inline-block;
      height: 16px;
      left: 8px;
      position: absolute;
      top: -2px;
      width: 16px;
    }
  }
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}
