.c-input {
  display: flex;
  flex-direction: column;
  min-height: 106px;
  padding: 30px 16px 24px;
  width: 100%;

  &__field {
    border-bottom: 2px solid var(--color-form-element);
    height: 48px;
    position: relative;
    transition: border .2s;

    .c-input--textarea & {
      height: auto;
      min-height: 48px;
    }

    .c-input--disabled & {
      background: var(--color-form-element-disabled-background);
      cursor: not-allowed;
    }

    .c-input--hover & {
      border-color: var(--color-form-element-hover);
    }

    .c-input--hover.c-input--light & {
      border-color: var(--color-background-white);
    }

    .c-input--focus & {
      border-color: var(--color-primary);
    }

    .c-input--error & {
      border-color: var(--color-primary);
    }
  }

  &__input {
    background: transparent;
    border: 0;
    box-shadow: 0 0 0px 1000px var(--color-form-element-background) inset;
    height: 46px;
    padding: 0 8px;
    vertical-align: top;
    width: 100%;

    .c-input--textarea & {
      max-height: 188px;
      min-height: 128px;
      padding-top: 15px;
      resize: none;
    }

    .c-input--type-password & {
      padding: 0 48px 0 8px;
    }

    .c-input--focus & {
      outline: 0;
    }

    .c-input--has-content & {
      color: var(--color-text-body);
      font-weight: bold;
    }

    .c-input--light & {
      color: var(--color-text-body-inverse);
      box-shadow: 0 0 0px 1000px #343c4c inset;
      
      &:-webkit-autofill {
        -webkit-text-fill-color: var(--color-text-body-inverse);
      }
    }

    .c-input--disabled & {
      box-shadow: 0 0 0px 1000px var(--color-form-element-disabled-background) inset;
    }

    .c-input--disabled.c-input--has-content & {
      color: var(--color-form-element-hover);
      cursor: not-allowed;
    }

    .c-input--error & {
      box-shadow: 0 0 0px 1000px var(--color-form-element-error-background) inset;

      &::-webkit-input-placeholder {
        color: var(--color-form-text-error-placeholder);
      }

      &::-moz-placeholder {
        color: var(--color-form-text-error-placeholder);
      }

      &:-moz-placeholder {
        color: var(--color-form-text-error-placeholder);
      }

      &:-ms-input-placeholder {
        color: var(--color-form-text-error-placeholder);
      }
    }

    .c-input--error.c-input--has-content & {
      color: var(--color-primary-mid);
    }

    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
      -webkit-text-fill-color: var(--color-text-body);
    }

    &::-webkit-input-placeholder {
      color: var(--color-form-element);
      user-select: none;
    }

    &::-moz-placeholder {
      color: var(--color-form-element);
      user-select: none;
    }

    &:-moz-placeholder {
      color: var(--color-form-element);
      user-select: none;
    }

    &:-ms-input-placeholder {
      color: var(--color-form-element);
      user-select: none;
    }
  }

  &__label {
    color: var(--color-text-primary);
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(0, calc(-100% - 4px));
    transition: color .2s;

    .c-input--hover & {
      color: var(--color-form-element-hover);
    }

    .c-input--light & {
      color: var(--color-form-element);
    }

    .c-input--hover.c-input--light & {
      color: var(--color-text-body-inverse);
    }

    .c-input--focus & {
      font-weight: 600;
    }

    .c-input--disabled.c-input--has-content .c-input__input + & {
      color: var(--color-form-element-hover);
    }

    .c-input--error &,
    .c-input--error.c-input--has-content .c-input__input + & {
      color: var(--color-primary);
    }
  }

  &__password {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 7px;
  }

  &__helper,
  &__error {
    color: var(--color-form-element-hover);
    font-size: 12px;
    margin-top: 8px;
    padding-left: 8px;
  }

  &__error {
    color: var(--color-primary);
  }
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}
