.c-notification {
  border: 2px solid var(--color-primary);
  display: block;
  font-weight: bold;
  padding: 16px 16px 16px 96px;
  position: relative;

  &__status {
    align-items: center;
    background-color: var(--color-primary);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 52px;
  }

  &__message {
    text-align: left;
  }
}
