.c-product {
  background: var(--color-background-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;

  &--hover {
    .c-product__image {
      display: none;
    }

    .c-product__zone {
      position: static;
    }

    .c-product__design {
      display: none;
    }

    .c-product__design-full {
      display: block;
    }
  }

  &__container {
    background: var(--color-background-gray);
    padding-bottom: 100%;
    position: relative;
  }

  &__product-layer {
    bottom: 12.5%;
    left: 12.5%;
    position: absolute;
    right: 12.5%;
    top: 12.5%;
  }

  &__discount {
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    width: 112px;

    &:before {
      border: 112px solid transparent;
      border-bottom-width: 0;
      border-right-width: 0;
      border-top: 48px solid var(--color-primary);
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }

    &:after {
      align-items: center;
      color: var(--color-text-body-inverse);
      content: attr(data-discount);
      display: flex;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      left: 24px;
      position: absolute;
      top: -4px;
      transform: rotate(23.5deg);
      width: 100%;
    }
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  &__zone {
    position: absolute;
  }

  &__design {
    position: absolute;
    width: 100%;
  }

  &__design-full {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__info {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
  }

  &__detail {
    flex: 1 1 auto;
  }

  &__name {
    color: var(--color-text-body);
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
    word-break: break-word;
  }

  &__type {
    color: var(--color-text-body-light);
    font-size: 12px;
  }

  &__price {
    border-left: 1px solid var(--color-background-secondary);
    color: var(--color-text-body);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    padding-left: 16px;
    text-align: right;

    &--discount {
      color: var(--color-primary);
    }
  }

  &__price-original {
    color: var(--color-text-body);

    .c-product__price--discount & {
      font-size: 12px;
      margin-bottom: 4px;
      text-decoration: line-through;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 0 8px 8px 0;
  }

  &__action {
    align-items: center;
    border: 1px solid var(--color-form-element);
    border-radius: 12px;
    color: var(--color-form-element);
    display: inline-flex;
    font-size: 12px;
    height: 24px;
    justify-content: center;
    margin: 0 8px 8px 0;
    padding: 0 12px;
    text-decoration: none;
    transition: none;

    .c-product--hover & {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }

    @include hover {
      background-color: var(--color-primary);
      color: var(--color-text-body-inverse);
    }
  }
}
