.c-table {
  border-collapse: collapse;
  width: 100%;

  &__head {
    background: var(--color-background-secondary);
  }

  &__row {
    vertical-align: middle;
  }

  &__cell {
    padding: var(--grid-gap);
    white-space: nowrap;
    width: 1%;

    &--head {
      text-align: left;
      text-transform: uppercase;
    }

    &--large {
      width: 50%;
    }

    &--medium {
      width: 25%;
    }

    &--small {
      width: 15%;
    }
  }
}
